:root{
    --main-color:#000;
    --para-color:#666;
    --bg-color:#f4f7fb;
    --bg-color2:#fff;
    --blue-color:#2f36f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family: monospace;
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}
/* ============ UP ARROW ============== */
.up,.up-show{
    position: fixed;
    padding: 4px 10px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.285);
    border-radius: 4px 10px;
    z-index: 5000;
    cursor: grab;
    bottom: .7cm;
    right: -1cm;
    transition: .5s;
    color: #000;
}
.up-show{
    right: 10px;
}
/* ============ BG VIDEO ============== */
.bg-video{
    position: absolute;
    z-index: -50;
    left: 0;
    top: 0;
}
/* ============ START LEARN-MORE STYLE  ============== */
.learn-more,
.learn-more-show{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    height: 0%;
    width: 0%;
    z-index: 6000;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 ;
    overflow: hidden;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}
.learn-more-show{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1cm;
    transform: translate(0%,0%) rotate(0deg);
}
.learn-more section{
    border: 1px solid #ccc;
    padding: .7cm;
    border-radius:20px 10px 10px 20px ;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.285);
    border-left: 10px solid var(--blue-color);
}
.learn-more section .information{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.learn-more section .information img{
    width: 100px;
}
/* ============ END LEARN-MORE STYLE  ============== */

/* ============ START SETTING STYLE  ============== */
.setting-icon{
    position: fixed;
    top: 3cm;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.285);
    border-radius: 0 4px 4px 0;
    z-index: 5000;
    cursor: grab;
}
.setting{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 10000;
    padding: 1cm 10%;
    display: none;
}
.setting .close-setting{
    position: absolute;
    right: 10%;
    top: 1cm;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
    transition: all .5s;
}
.setting .close-setting:hover{
    transform: rotate(360deg);
}
.setting .setting-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1cm 20px;
}
.setting-hero .setting-box{
    padding: 0;
    border: 1px solid #ccc;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
    /* animation: setting 1 1s forwards; */
}
@keyframes setting{
    from{}
    to{
        padding: 20px;
        height: fit-content;
        width: 10cm;
    }
}
.setting-hero .setting-box .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin: 4px 0;
    border-bottom: 1px solid #ccc;
}
.setting-hero .setting-box .items nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.setting-hero .setting-box .items nav .reset{
    cursor: pointer;
}
.setting-hero .setting-box .items:last-child{
    border: none;
}
.btn-slide{ 
    width: 45px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.btn-slide .point{
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: all .3s;
}
.setting #btn-vid{
    cursor: pointer;
    font-size: 22px;
    margin-right: 10px;
}
.setting input{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
/* ============ END SETTING STYLE  ============== */

/* ============ START LOADING STYLE  ============== */
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: var(--bg-color);
}
.loading div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2196f3 ;
    margin: 0 10px;
    animation: loading 1.4s linear infinite;
}
.loading div:nth-child(1){
    animation-delay: 0s;
}
.loading div:nth-child(2){
    animation-delay: .2s;
}
.loading div:nth-child(3){
    animation-delay: .4s;
}
.loading div:nth-child(4){
    animation-delay: .6s;
}
.loading div:nth-child(5){
    animation-delay: .8s;
}
.loading div:nth-child(6){
    animation-delay: 1s;
}
.loading div:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes loading{
    0%{
        box-shadow: 0 0 0 rgba(0,0,0,5);
        opacity: 0;
        transform: translateX(-40px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0,0,0,5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0,0,0,5);
        opacity: 0;
        transform: translateX(40px) scale(1);
    }
}
/* ============ END LOADING STYLE  ============== */

/* ============ TITLE STYLE IN ALL PAGES ============== */
.title{
    position: relative;
    padding-left: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}
.title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--blue-color);
}
/* ============ START HEADER STYLE ============== */
header{
    background-color: var(--bg-color2);
    height: 1.8cm;
    position: sticky;
    top: .1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 100;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.295);
}
header .logo h3{
    font-family: 'Rubik Dirt', cursive;
}
header .logo h3 span{
    color: var(--blue-color);
}
header .logo h3 span{
    position: relative;
}
header .logo h3 span:nth-child(2)::before,
header .logo h3 span:nth-child(3)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: var(--blue-color);
    animation: logo 2s infinite alternate;
}
@keyframes logo{
    from{left: -1.8cm;}
    to{left: calc(100% - 20px);}
}
header .logo h3 span:nth-child(3)::before{
    animation: logo2 2s infinite alternate;
    bottom: -2px;
}
@keyframes logo2{
    from{right: -1cm;}
    to{right: calc(100% - 20px);}
}
header .links{
    list-style: none;
    display: flex;
    gap: 15px;
}
header .links a{
    text-decoration: none;
    color: var(--main-color);
}
header .links a.active,
header .links a:hover{
    color: var(--blue-color) ;
}
header .icon-bar,
header .icon-bar-close{
    width: .6cm;
    height: .6cm;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    display: none;
    direction: rtl;
}
header .icon-bar div{
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .5s;
}
.icon-bar-close div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .icon-bar div:nth-child(odd){
    width: 70%;
}
.icon-bar-close div:nth-child(odd){
    opacity: 0;
}
.icon-bar-close div:nth-child(2){
    transform: rotate(50deg);
}
.icon-bar-close div:nth-child(4){
    transform: rotate(-50deg);
}
/* ============ END HEADER STYLE ============== */

/* ============== START HOME PAGE STYLE =================== */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1cm 10%;
    height: calc(100vh - 1.8cm);
}
main .right {
    padding: 1cm;
    position: relative;
    animation: right 1s 1 forwards linear;
}
@keyframes right{
    from{opacity: 0;
    transform: rotate(180deg) scale(0);}
    to{opacity: 1;
    transform: rotate(0) scale(1);}
}
main .right::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--blue-color);
    border-radius: 25px 0;
    animation: img forwards 14s infinite ;
}
@keyframes img{
    0%{left: 0;}
    25%{
        left: calc(100% - 20px);
        top: 0;
        transform: rotate(90deg);
    }
    50%{
        left: calc(100% - 20px);
        top: calc(100% - 20px);
        transform: rotate(180deg);
    }
    75%{
        top: calc(100% - 20px);
        left: 0;
        transform: rotate(270deg);
    }
}
main .right img{
    width: 300px;
    border-radius: 7px;
}
main .left a{
    color: #fff;
}
.social-items{
    margin: 1cm 0;
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 15px;
    height: 2cm;
}
.social-items div{
    padding: 7px 10px;
    background-color: var(--blue-color);
    border-radius: 5px;
    transition: all .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.505),inset 3px -3px 6px #fff;
}
.social-items div:hover{
    padding: 12px;
}
main button{
    padding: 7px ;
    font-size: 15px;
    width: 4cm;
    margin-bottom: 7px;
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    animation: mainButton 1s alternate infinite;
}
@keyframes mainButton{
    from{}
    to{box-shadow: 0 0 15px var(--blue-color);}
}
main button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    z-index: -2;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    transition: all .5s;
}
main button:hover::before{
    width: 100%;
}
main .left{
    animation: left 1s 1 forwards linear;
}
@keyframes left{
    from{opacity: 0;
    transform: rotate(180deg) scale(0);}
    to{opacity: 1;
    transform: rotate(0) scale(1);}
}
/* ============== END HOME PAGE STYLE =================== */

/* ============== START EXPERINCE PAGE STYLE =================== */
.experince{
    position: relative;
    overflow: hidden;
    padding: 1cm 10%;
    color: #fff;
}
.experince video{
    position: absolute;
    z-index: -50;
    left: 0;
    top: 0;
}
.experince .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.441);
    padding: 10px;
    border-radius: 5px;
}
.experince .items{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}
.experince .items h3{
    width: 2.8cm;
}
.experince .items p{
    width: 1.2cm;
}
.experince .items .progress{
    flex: 1;
    height: 15px;
    background-color: #ccc;
}
.experince .items .progress .line{
    height: 100%;
    width: 0%;
    background-color: var(--blue-color);
    transition: all 2s;
}
/* ============== END EXPERINCE PAGE STYLE =================== */

/* ============== START Portfolio PAGE STYLE =================== */
.portfolio{
    padding: 1cm 10%;
}
.portfolio .catogery{
    display: flex;
    gap: 10px;
    align-items: center;
    letter-spacing: .5px;
    margin-bottom: 25px;
}
.portfolio .catogery p{
    cursor: pointer;
    padding: 2px 4px;
    background-color: #cccccc75;
    border-radius: 5px;
    color: var(--para-color);
}
.portfolio .catogery p.active{
    color: var(--blue-color);
}
.portfolio-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(285px,auto));
    gap: 15px;
    position: relative;
}
.portfolio-boxes section{ 
    line-height: 1.5;
    width: 100%;
    background-color: var(--bg-color2);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.285);
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
.portfolio-boxes section:hover{
    transform: translateY(-10px);
}
.hide{
    width: 0cm !important;
    position: absolute !important;
    transform: scale(0) rotate(90deg);
}
.portfolio-boxes section .popUp{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    overflow: hidden;
    transition: all .3s ease-out;
}
.portfolio-boxes section .popUp button{
    padding: 7px 30px;
    border-radius: 15px 0;
    border: none;
    font-size: 15px;
    transition: all .3s;
}
.portfolio-boxes section .popUp button:hover{
    background-color: var(--blue-color);
    color: #fff;
}
.portfolio-boxes section:hover .popUp{
    height: 100%;
}
.portfolio-boxes section img{
    width: 100%;
}
.portfolio-boxes section .items{
    direction: rtl;
    display: flex;
    gap: 10px;
    margin: 10px;
}
.portfolio-boxes section h3{
    padding: 5px 10px;
}
.portfolio-boxes section h3 span{
    border-bottom: 1px solid var(--blue-color);
}
.portfolio-boxes section .items p{
    padding: 2px 4px;
    background-color: #cccccc44;
    border-radius: 5px;
    color: var(--para-color);
}
/* ============== END Portfolio PAGE STYLE =================== */

/* ============== START CONTACT PAGE STYLE =================== */
.contact{
    padding: 1cm 10%;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.582);
}
.contact .social-items{
    padding: 4px 15px;
    border-radius: 4px;
    margin: 25px 0;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.116);
    animation: forwards linear 2s infinite social;
}
.contact .social-items div{
    background-color: #000;
    border-radius: 50%;
    width: 1cm;
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .social-items div:hover{
    background-color: var(--blue-color);
    transform: scale(1.2) rotate(360deg);
}
@keyframes social{
    0%{border-top-color:var(--blue-color) ;}
    25%{border-right-color:var(--blue-color) ;}
    50%{border-bottom-color:var(--blue-color) ;}
    75%{border-left-color:var(--blue-color) ;}
    100%{border-color:transparent ;}
}
.contact a{
    color: #fff;
}
.contact .contact-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1cm;
}
.contact .contact-hero .right .form{
    width: 10cm;
    background-color: rgba(255, 255, 255, 0.116);
    padding: 1cm;
    border-radius: 5px;
    position: relative;
}
.contact .contact-hero .right .form .msg-error{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: #f00;
}
.contact .contact-hero .right .form input,
.contact .contact-hero .right .form textarea{
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 9px ;
    background-color: var(--bg-color2);
    border: none;
    outline: none;
    border-radius: 7px;
}
.contact .contact-hero .right .form button{
    width: 4cm;
    padding: 8px;
    border: none;
    font-size: 15px;
    border-radius: 7px;
    background-color: var(--blue-color);
    color: #fff;
    position: relative;
}
.contact .contact-hero .right .form button span{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    animation:formbtn 1s infinite forwards ;
    width: .5cm;
    height: .5cm;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    display: none;
}
@keyframes formbtn{
    from{transform: translateY(-50%) rotate(0);}
    to{
        transform:translateY(-50%) rotate(360deg);
    }
}
/* mic */
.contact .record{
    background-color: #fff;
    position: absolute;
    right: -14px;
    top: -12px;
    color: #000;
    width: 1cm;
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
@keyframes record{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 5px #f00,inset 0 0px 30px #f00;
        color: #fff;
    }
}
.contact .record span{
    font-size: 30px;
}
/* ============== END CONTACT PAGE STYLE =================== */

/* ============= START FOOTER STYLE ================== */
footer{
    text-align: center;
    padding: 25px;
}
footer p span{
    color: var(--blue-color);
}
/* ============= END FOOTER STYLE =================== */
